<!DOCTYPE html>
<html>
  <head>
  <%= hook :inside_head do %>
    <%= render :partial => 'shared/head'%>
  <% end %>
  </head>

  <body id="<%= @body_id %>">
    <header>
      <%= render 'shared/header' %>
    </header>
    <nav>
      <%= render 'shared/nav_bar' %>
    </nav>
    <section id="content">
   <div class="container">
 <div class="indent">
    <%= breadcrumbs(@taxon) if @taxon %>
      <% if flash.notice %>
      <div class="flash notice"><%= flash.notice %></div>
      <% end %>
      <% if flash[:error] %>
      <div class="flash errors"><%= flash[:error] %></div>
      <% end %>
      <%= yield %>
    </div>
    </div>
    </section>
    <footer>
      <%= render :partial => 'shared/footer'%>
    </footer>
  </body>
</html>
